<a href="https://colab.research.google.com/github/Amal211/DS_level2/blob/main/DM_Preprocess_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas as pd    # import the needed libraries
import numpy as np
import re

# read the data set

emp_data = pd.read_csv("https://raw.githubusercontent.com/Amal211/DS_level2/main/employee_data.csv")

# extract employees information from the data set

print("\nEmployee first name, last name, department, and number of years of employment:\n\n{}" .format(emp_data))


Employee = pd.DataFrame(emp_data)    # create a DataFrame of employees information

Employee.columns=['FirstName', 'LastName', 'Year', 'Department']   # update columns names

print("\nEmployee DataFrame:\n\n{}" .format(Employee))

Employee = Employee.replace('?', np.NaN)


miss_values = Employee.apply(lambda x: sum(x.isnull()), axis=0)      # find missing values

print("\nThe miising values by columns:\n\n\{}\n\n" .format(miss_values))

# replace missing and special character '?' with most frequent values

replace_1 = Employee.fillna(Employee.mode().iloc[0], inplace=True)


# Remove white space after 'IT' in department Column

Employee['Department'] = Employee['Department'].str.replace(' ', '')

##

#df_3 = Employee.groupby(['Department']).agg([np.average])

#Employee['mean'] = Employee.iloc[: ,2].mean(axis=0)

###

#df = Employee['Department'] == 'IT', Employee['Year'].mean()
    
#df_1 = df.reset_index(drop=True)
#print(df)

#means = Employee.groupby(lambda x: (x.year)).mean()

#df_2 = Employee[Employee['Department'] == 'IT'][["FirstName", "LastName", 'Year', "Department"]]

####Employee['Year'] = pd.to_numeric(Employee.Year)

Employee['Year'] = pd.to_numeric(Employee.Year)

#df = Employee.groupby('FirstName').agg({'Year': 'mean'})

#work = df.loc[Employee['Department'] == 'HR', [{'Year' : 'mean'}],
                # ['FirstName', 'LastName', 'Year','Department']].drop_duplicates()


#aver = Employee[Employee['FirstName', 'LastName']] ['Department' == 'HR'] ['Year'].mean()(axis=1)

#df = Employee.groupby(['Department','FirstName','LastName'])['Year'].mean()

#df.reset_index()

#work = df.loc[df['Department'] == 'HR', ['FirstName', 'LastName', 'Year','Department']]

#df = Employee[Employee['Department'] == 'HR']

#work = df.groupby(['FirstName', 'LastName', 'Department'])['Year'].mean().reset_index()
#work.rename(columns={'Year':'aver_Year'},inplace=True)

df = Employee[Employee['Department'] == 'HR']
work = df.groupby(['FirstName', 'LastName', 'Department'])['Year'].mean().reset_index()
work.rename(columns={'Year':'aver_Year'},inplace=True)

print(work)

print("\nThe miising values by columns:\n\n{}" .format(miss_values))

Employee first name, last name, department, and number of years of employment:

    first_name       last_name year                 department
0         Joan  Hamilton-Huber    2                          HR
1       Nathan         Brigmon    5      Austin Code Department
2        Shawn         Lincoln    8                         NaN
3        Chris       Hernandez  NaN    Austin Convention Center
4          NaN             NaN    7               Austin Energy
..         ...             ...  ...                         ...
138     Thomas      Montgomery    8    Austin Resource Recovery
139     Thomas      Montgomery  NaN                          HR
140      Angel          Flores  NaN                         IT
141      Tyler               ?    9  Office of the City Auditor
142      Diana          Martin    6                          HR

[143 rows x 4 columns]

Employee DataFrame:

    FirstName        LastName Year                  Department
0        Joan  Hamilton-Huber    2                          HR
1      Nathan         Brigmon    5      Austin Code Department
2       Shawn         Lincoln    8                         NaN
3       Chris       Hernandez  NaN    Austin Convention Center
4         NaN             NaN    7               Austin Energy
..        ...             ...  ...                         ...
138    Thomas      Montgomery    8    Austin Resource Recovery
139    Thomas      Montgomery  NaN                          HR
140     Angel          Flores  NaN                         IT
141     Tyler               ?    9  Office of the City Auditor
142     Diana          Martin    6                          HR

[143 rows x 4 columns]

The miising values by columns:

\FirstName     16
LastName      17
Year          26
Department    16
dtype: int64


   FirstName        LastName Department  aver_Year
0     Ashlee          Harris         HR        9.0
1      Bryce          Benton         HR        5.0
2      David        Andersen         HR        2.0
3      Diana          Martin         HR        6.0
4     Diana           Martin         HR        3.0
5      Farah        Muscadin         HR        2.0
6    Gabriel        Gonzalez         HR        7.0
7      Gavin         Lambert         HR        2.0
8      Jesse       Rodriguez         HR        2.0
9       Joan  Hamilton-Huber         HR        2.0
10      John      Montgomery         HR        6.5
11      John           Nixon         HR        3.0
12  Jonathan           Tomko         HR        2.0
13  Kimberly        Olivares         HR        2.0
14    Korrie         Johnson         HR        2.0
15     Megan            Bell         HR        2.5
16  Patricia   Genty-Andrade         HR        3.0
17     Perry           Perez         HR        2.0
18    Robert       Bizendine         HR        2.0
19    Robert         Clayton         HR        7.0
20     Sarah          Cronin         HR        4.0
21     Shawn         Lincoln         HR        8.5
22    Stefan            Wray         HR        7.0
23    Thomas      Montgomery         HR        2.5
24   Zachary         Ashburn         HR        4.0

The miising values by columns:

FirstName     16
LastName      17
Year          26
Department    16
dtype: int64